<section class="container">
	<div class="row">
     <a ui-sref="books.list">Back to List</a>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Title</label>
		</div>
		<div class="col-sm-8">
			{{playerCtrl.book.title}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Summary</label>
		</div>
		<div class="col-sm-8">
			{{playerCtrl.book.summary}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Author</label>
		</div>
		<div class="col-sm-8">
			{{playerCtrl.book.author}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Category</label>
		</div>
		<div class="col-sm-8">
			{{playerCtrl.book.category}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" ng-click="playerCtrl.play()">
				<img src="modules/player/client/img/play64x64.png">
			</a>
			<a href="#" ng-click="playerCtrl.pause()">
				<img src="modules/player/client/img/pause64x64.png">
			</a>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2">Current Time: {{playerCtrl.currentPlayTime}}</div>
	</div>
</section>