<section ng-controller="CustomerController">
  <div class="form-group">
    <label for="name">Name of your Application</label>
    <input type="text" class="form-control" id="name" ng-model="name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea rows="5" class="form-control" id="description" ng-model="description"></textarea>
  </div>
  <div>
  	<button type="button" class="btn btn-primary" ng-click="createApplication()">Register</button>
  </div>
</section>